/* body */
.container {
  background-color: #f4f7fe;
}

/* Card */
.cardContainer {
  min-width: 440px;
  border: none;
  border-radius: 20px;
}

/* Card Title */
.cardTitle {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

/* Form Label */
.formLabel {
  font-size: 20px;
  font-weight: 400;
  color: #6b6d7c;
}

/* Form Input */
.formInput {
  border-radius: 10px;
  padding: 16px 24px;
  font-size: 16px;
}

/* Validation Error Message */
.errorMessage {
  color: #f06565;
  font-size: 14px;
}

/* Button */
.button {
  border: none;
  border-radius: 10px;
  padding: 18px 40px;
  font-size: 16px;
  font-weight: 500;
}

/* Register Link */
.registerLink {
  font-size: 14px;
  font-weight: 400;
}
